.mapContainer {
  height: 100vh;
  width: 100vw;
  // & .gm-fullscreen-control {
  //   display: none !important;
  // }
  // & .gmnoprint {
  //   display: none !important;
  // }
  & .markerIcon,
  & .medkitIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
    &.marker-hovered {
      transform: scale(1.4) translate(-50%, -60%);
      z-index: 3;
    }
    &.marker-selected {
      border: 2px solid white;
      transform: scale(1.4) translate(-50%, -60%);
      z-index: 2;
    }
    & > p {
      position: absolute;
      margin: 0px;
      font-size: 10pt;
      white-space: nowrap;
      text-align: center;
      width: 50px;
      bottom: -18px;
    }
  }

  & .clusterIcon {
    width: 50px;
    height: 50px;
    background-color: #ef5350;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    &.cluster-hovered {
      transform: scale(1.3) translate(-50%, -50%);
      z-index: 3;
    }
    & > p {
      margin: 0px;
      text-align: center;
      font-size: 10pt;
      color: white;
    }
  }
}

@-webkit-keyframes markerBounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3) translate(-50%, -50%);
    transform: scale3d(0.3, 0.3, 0.3) translate(-50%, -50%);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
    transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) translate(-50%, -50%);
    transform: scale3d(0.9, 0.9, 0.9) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03) translate(-50%, -50%);
    transform: scale3d(1.03, 1.03, 1.03) translate(-50%, -50%);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97) translate(-50%, -50%);
    transform: scale3d(0.97, 0.97, 0.97) translate(-50%, -50%);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate(-50%, -50%);
    transform: scale3d(1, 1, 1) translate(-50%, -50%);
  }
}

@keyframes markerBounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3) translate(-50%, -50%);
    transform: scale3d(0.3, 0.3, 0.3) translate(-50%, -50%);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
    transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) translate(-50%, -50%);
    transform: scale3d(0.9, 0.9, 0.9) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03) translate(-50%, -50%);
    transform: scale3d(1.03, 1.03, 1.03) translate(-50%, -50%);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97) translate(-50%, -50%);
    transform: scale3d(0.97, 0.97, 0.97) translate(-50%, -50%);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate(-50%, -50%);
    transform: scale3d(1, 1, 1) translate(-50%, -50%);
  }
}

.markerBounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: markerBounceIn;
  animation-name: markerBounceIn;
}
