body {
  background: #5e35b1;
  margin: 0px;
}

.ReactModal__Overlay {
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6) !important;
  opacity: 0;
  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }
}

.ReactModal__Content {
  transition: transform 0.5s ease-in-out;
  transition-delay: 100ms;
  transform: translate(0px, 120%);

  &.ReactModal__Content--after-open {
    transform: translate(0px, 0px);
  }
  &.customModal {
    background: none !important;
    padding: 0px !important;
    border: none !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 140%;
    left: 0;
  }
}
